.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.tong-phim{
    margin: 30px;
    background-color: #15151a;
    width: 96%;
    min-width: 300px;
    height: 120px;
    border-radius: 20px;
    align-self: center;
    border: 1px solid rgba(255,255,255,0.08);
    padding: 15px 0px 0px 25px;
}
.title{
    margin-top: 10px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2% 0px 2%;
}
.title div{
    font-weight: bold;
    font-size: 30px;
    color: white;
}
.title button{
    width: 150px;
    height: 50px;
    border-radius: 15px;
    border: none;
    background-color: #d09b29;
    font-weight: bold;
}
.bang-hien-thi-phim{
    width: 96%;
    align-self: center;
    background-color: #15151a;
    border: 1px solid rgba(255,255,255,0.08);
    border-radius: 20px;
    font-size: small;
}
thead{
    align-items: center;
}
thead td{
    align-items: center;
    padding: 2px 0px 2px 15px;
}
/*Modal Thêm phim*/
.modal{
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgb(0,0,0,0.8);
    z-index: 999;
}
.modal-content{
    background-color: #0d0c11;
    width: 500px;
    height: 500px;
    border-radius: 30px;
}
.modal-content > div{
    display: flex;
    border-radius: 30px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 0px 4% 0px 4%;
}
.modal-content span{
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.modal-close{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255,255,255,0.08);
    width: 25px;
    height: 25px;
    border-radius: 100px;
    border: 2px solid rgba(255,255,255,0.08);
    background-color: #0d0c11;
}
.form{
    flex-direction: column;
}
.tenphim, .mota, .trangthai{
    width: 100%;
    margin-bottom: 2%;
}
.form label{
    margin-bottom: 1%;
}
.tenphim, .mota, .trangthai{
    align-items: flex-start;
}
.tenphim input, .mota input, .trangthai input, .theloai input, .thoiluong input{
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgba(255,255,255,0.08);
    background-color: #15151a;
}
.theloai, .thoiluong{
    width: 49%;
}
.theloai input, .thoiluong input, .tenphim input, .trangthai input{
    height: 35px;
}
.mota input{
    height: 120px;
}
.form label{
    display: block;
    align-self: flex-start;
}
.modal-button{
    margin-top: 3%;
}
.cancel-button{
    width: 60px;
    height: 35px;
    border-radius: 5px;
    background-color: #15151a;
    border: 1px solid rgba(255,255,255,0.08);
    color: #7a7880;
}
.save-button{
    width: 100px;
    height: 35px;
    border-radius: 5px;
    border: none;
    background-color: #d09b29;
    font-weight: bold;
}

