@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.so-lieu{
    display: flex;
}
.tong-phong{
    margin: 30px 1% 30px 2%;
    background-color: #15151a;
    width: 47%;
    min-width: 300px;
    height: 120px;
    border-radius: 20px;
    align-self: center;
    border: 1px solid rgba(255,255,255,0.08);
    padding: 15px 0px 0px 25px;
}
.tong-ghe{
    margin: 30px 2% 30px 1%;
    background-color: #15151a;
    width: 47%;
    min-width: 300px;
    height: 120px;
    border-radius: 20px;
    align-self: center;
    border: 1px solid rgba(255,255,255,0.08);
    padding: 15px 0px 0px 25px;
}
.tong-phong div, .tong-ghe div{
    margin-bottom: 5px;
}
.so-luong-phong, .tong-so-luong-ghe{
    color: #e0743a;
    font-size: 45px;
}
.title{
    margin-top: 10px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2% 0px 2%;
}
.title div{
    font-weight: bold;
    font-size: 30px;
    color: white;
}
.title span{
    color: #e0743a;
}
.title button{
    width: 150px;
    height: 50px;
    border-radius: 15px;
    border: none;
    background-color: #e0743a;
    font-weight: bold;
}
.bang-hien-thi-phong-chieu{
    width: 96%;
    align-self: center;
    background-color: #15151a;
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid rgba(255,255,255,0.08);
    border-radius: 20px;
    overflow: hidden;
    font-size: small;
}
thead td{
    align-items: center;
    padding: 7px 0px 7px 15px;
    border-bottom: 1px solid rgba(255,255,255,0.08);
    font-weight: bold;
    font-size: smaller;
}
.ten-phong{
    font-weight: bold;
}
.hien-thi-phong-chieu td{
    padding: 10px 0px 10px 15px;
    border-bottom: 1px solid rgba(255,255,255,0.06);
    color: white;
}
.btn-xoa-phim{
    width: 40px;
    height: 25px;
    border-radius: 5px;
    background-color: rgba(224,85,85,0.15);
    border: 1px solid red;
    color: red;
    font-weight: bold;
    font-size: smaller;
}
.btn-xoa-phim:hover{
    background-color: red;
    color: white;
}
.btn-so-do{
    width: 75px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid rgba(255,255,255,0.08);
    background-color: #202028;
    color: white;
    font-weight: bold;
    font-size: smaller;
}